.dark {
    background-color: black;
}

.light {
    background-color: transparent;
}

.enemy {
    background-color: red;
}

.health {
    background-color: green;
}

.weapon {
    background-color: orange;
}

.exit {
    background-color: purple;
}

.player {
    background-color: blue;
}

.wall {
    background-color: gray;
}

.floor {
    background-color: pink;
}

.board {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    span {
        width: 10px;
        height: 10px;
        display: inline-block;
    }
}